<link rel="stylesheet" href="../public/style/home-styles.css" />
<link rel="stylesheet" href="../public/style/profile-styles.css" />


<body class="full-height-grow">
  <div class="container full-height-grow">
    <header class="main-header">
      <a class="brand-logo">
        <img src="../public/assets/Ecell-LOGO-01.png" />
        <div class="brand-logo-name">DEC</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="/users/homeboard">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="profile-section">
      <div class="profile-title-container">
        <h1 class="profile-title">
          Your <span class="accent-text-stroke">Profile</span>
        </h1>
      </div>

      <div class="profile-info-container">
        <h3 class="leader-name coves-font">Leader Name</h3>
      </div>
      <div class="profile-info-container">
        <h3 class="team-name coves-font">Team Name</h3>
      </div>
      <div class="profile-info-container">
        <h3 class="coves-font">Points:</h3>
        <h3 class="user-points coves-font box-border">24</h3>
      </div>
      <div class="user-main-info">
        <div class="profile-info-container">
          <h3 class="coves-font">Email:</h3>
          <h3 class="user-email coves-font box-border">someone@example.com</h3>
        </div>
        <div class="profile-info-container">
          <h3 class="coves-font">Phone:</h3>
          <h3 class="user-phone coves-font box-border">0123456789</h3>
        </div>
        <div class="profile-info-container">
          <h3 class="coves-font">College:</h3>
          <h3 class="user-college coves-font box-border">college name</h3>
        </div>
        <div class="profile-info-container">
          <h3 class="coves-font">Address</h3>
          <h3 class="user-address coves-font box-border">some address</h3>
        </div>
        <div class="profile-info-container">
          <h3 class="coves-font">About</h3>
          <h3 class="user-about coves-font box-border">some info.</h3>
        </div>

      </div>
      <div class="input-group">
        <button type="submit" class="btn"><a style="color: inherit; text-decoration: none;"
            href="/users/editprofile">Edit Profile</a></button>
      </div>
      <div class="tasks-container">
        <div class="tasks-title-container">
          <h1 class="tasks-title">
            Your <span class="accent-text-stroke">Tasks</span>
          </h1>
        </div>
        <div class="task-card-container">
          <div class="task-card box-border">
            <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">1</span></h3>
            <p class="task-brief coves-font">Entrepreneurship facilities by govt.</p>
            <div class="input-group">
              <button class="btn know-more"><a style="text-decoration: none; color: inherit;"
                  href="/users/dashboard/tasks/1">View Details</a></button>
            </div>
          </div>
          <div class="task-card box-border">
            <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">2</span></h3>
            <p class="task-brief coves-font">User's feedback.</p>
            <div class="input-group">
              <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/2"
                  style="text-decoration: none; color: inherit;">View Details</a></button>
            </div>
          </div>
          <div class="task-card box-border">
            <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">3</span></h3>
            <p class="task-brief coves-font">Establishing society plan or calendar for the year.</p>
            <div class="input-group">
              <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/3"
                  style="text-decoration: none; color: inherit;">View Details</a></button>
            </div>
          </div>
          <div class="task-card box-border">
            <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
            <p class="task-brief coves-font">SOCH</p>
            <div class="input-group">
              <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                  style="text-decoration: none; color: inherit;">View Details</a></button>
            </div>
          </div>
          <%if (false) {%>
          <div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
            <div class="task-card box-border">
              <h3 class="task-card-title coves-font">TASK<span class="accent-color-text task-number">4</span></h3>
              <p class="task-brief coves-font">SOCH</p>
              <div class="input-group">
                <button type="submit" class="btn know-more"><a href="/users/dashboard/tasks/4"
                    style="text-decoration: none; color: inherit;">View Details</a></button>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>